@CHARSET "windows-1255";
/***************************** top toolbar*****************************/
.navbar-fixed-top, .navbar-fixed-bottom{
   background-image: linear-gradient(#F5F5F5, #CCC)
}
.navbar-default {
	box-shadow: none;
}
.navbar-default .navbar-logo {
	padding: 9px 0 9px 15px;
	float: left;
}

.navbar-default .navbar-brand {
	color: #222;	
	font-weight: bolder;
	font-type: Arial, sans-serif;
}
a {
	color: #3E648D;
}
#page-wrapper {
	background-image: linear-gradient(#A1B1C1, #A1B1C1)
}
/***************************** bottom toolbar*****************************/
.container-fluid {
	margin-top: 8px;
}
.bottom-margin{
	margin-top: 0px;
    padding-bottom: 0px;
	margin-bottom: 60px;
}