/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
ul[dnd-list],
ul[dnd-list] > li {
	position: relative;
	padding-right: 0px;
}
/**
 * Show selected elements in green
 */
ul[dnd-list] li.selected {
    -webkit-box-shadow: 0 0 20px #777;
    -moz-box-shadow: 0 0 20px #777;
    box-shadow: 0 0 20px #777;
    background-color: #CCC;
}
/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.dropzone ul[dnd-list] {
	min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.dropzone li {
    background-color: #fff;
    display: block;
    padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dropzone .dndDragging {
    opacity: 0.5;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dropzone .dndPlaceholder {
	border-radius: .25em;
	border-style: dashed;
	border-width: 3px;
	border-color: black;
    background-color: #ddd;
    opacity: 0.5;
    min-height: 42px;
    display: block;
    position: relative;
}
.account .dndPlaceholder {
	display: none;
    position: absolute;
}
/***************************** Element type specific styles *****************************/
.dropzone .current > li{
	margin: 5px;
	float: left;
	border-radius: .25em;
	min-width: 245px;
	min-height: 125px;
	padding: 3px;
}
.dropzone .proposed > li{
	margin: 5px;
	float: left;
	border-radius: .25em;
	min-width: 245px;
	min-height: 125px;
	padding: 3px;
}
.dropzone .portfolio > li{
	margin: 5px;
	float: left;
	border-radius: .25em;
	min-width: 245px;
	max-width: 300px;
	min-height: 125px;
	padding: 3px;
}
.account-body{
	background-color: rgba(255,235,205,0.3);
}
.real-estate-body{
	background-color: rgba(205,255,209,0.3);
}
.portfolio-body{
	background-color: rgba(205, 207, 255, 0.3)
}
/***************************** Toolbar Icons *****************************/

.toolbarIcons ul {
    list-style: none;
    padding-left: 0px;
}

.toolbarIcons .dndDragover{
	color: red;
}

.toolbarIcons .dndPlaceholder {
    display: none;
}
/***************************** Modals *****************************/
.warning {
	background-color: rgba(200, 0, 0, 0.3);
}
/***************************** AssetClass Dropdown *****************************/
.uib-dropdown-menu {
	min-width: 250px;
}
.uib-dropdown-menu > li{
	position: relative;
	float: left;
	min-width: 20px;
	min-height: 20px;
	padding-left: 4px;
	padding-bottom: 2px;
}
.uib-dropdown-menu > li > a{
	padding-left: 5px;
	padding-right: 5px;
	color: white;
}
/***************************** Button Groups*****************************/
.btn-group > a{
	height: 19.9px;
}
.btn-group > a > i{
	margin-top: 2px;
}
.btn-group >.btn+.dropdown-toggle{
	padding-left: 1px; 
	padding-right: 1px;
	height: 19.9px;
}
.nvd3 text {
	font: normal 9px Arial;
}
.edit-assetclasses {
	margin-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.edit-assetclasses > .col-lg-5 > .btn-group{
	margin-bottom : 5px;
}
.modal-body.account-body {
	padding-top: 5px;
}